@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	img {
		display: block;
		max-width: 100%;
	}

	::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: theme('colors.gray.300');
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: theme('colors.gray.400');
	}
}
